@media screen and (max-width: 440px) {
	.wrap{width:300px;margin:0 auto; padding:30px 10px 80px 10px;}
	.moko-slider{width:300px!important;}
	.user-info-box,.navs ul,#title-screen-box,.news-box,.controller,.frame{display:none;}
	.logo-nav,.w970{width:100%;} 
	#header{margin-top:50px;}
	.wap-nav{display:block;width:100%;height:40px;background:#31A2D9;position:absolute;top:0;left:0;}
	.w970{ overflow:hidden; zoom:1;}
	.wap-navlist{float:left;background:url("../images/listview.png");background-size:30px 30px;width:30px;height:30px;display:inline-block;margin-top:5px;margin-left:5px;cursor:pointer;}
	.wap-user{float:left;color:#ffffff;height:40px;line-height:40px;margin-left:10px;}
	.navs ul{width:100px;background:#31A2D9;text-align:center;color:#ffffff;position:absolute;padding:10px 0;}
	.navs ul li a{color:#ffffff;display: inline-block;width: 100%;height:40px;line-height:40px;}
	.big-post{ width:236px; margin:0 5px 10px 28px;} 
	.footer p{font-size: 0.8em;}
}  
@media screen and (min-width: 441px) {
	.wrap{ width:960px; margin:0 auto; padding:30px 10px 80px 10px; }
	.wap-nav{display:none;}
	#header{margin-top:30px;}
	.logo-nav{width:1086px;}
	.w970{width:970px; overflow:hidden; zoom:1;}
	.news-box{position:fixed;display:inline-block;}
	.navs ul{height:40px;line-height:40px;}
	.navs ul li{	float:left;	margin:0 10px;	border:1px solid #31A2D9;	border-radius:5px;	cursor:pointer;}
	.navs ul li a{	display:inline-block;	padding:0 20px;	color:#31A2D9;}
	.navs ul li:hover{	background:#31A2D9;}
	.navs ul li a:hover{color:#ffffff;}
	.big-post{ width:236px; margin:0 5px 10px 0px;} 
	.footer p{font-size: 0.9em;}
}
}  
@charset "utf-8";
#header{
	width:100%;
	height:79px;
	border-bottom:1px solid #CCCCCC;
	
}
#header .logo-nav{
	text-align:cetner;
	margin:0 auto;
	
}
ul{
	list-style:none;
}
.logo{
	width:320px;
	height:60px;
	display:inline-block;
}
#header .logo-nav .navs{
	display:inline-block;
}

.mark {
    height: 24px;
    display: block;
    line-height: 22px;
    width: 72px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
    zoom: 1;
    margin-left: 5px;
    float: left;
}
.mark:hover{
	color:#fff;
	opacity:5;
}
.vocation-mark{
	margin-top:15px;
}
.vocation-a{
	display:inline-block;
	height:24px;
	line-height: 24px;
	float: left;
}
.c66dfff-bg{
	background:#66DFFF;
}
.cf09-bg{
	background:#f09;
}
.cfc0-bg{
	background:#fc0;
}
.c9c0-bg{
	background:#9c0;
}
.a97ce7-bg{
	background:#a97ce7;
}
.cf60-bg{
	background:#f60;
}
.cc00-bg{
	background:#c00;
}
.cc7c7c7-bg{
	background:#c7c7c7;
}
.footer{
	background:#CCCCCC;
	text-align:center;
	color:#363636;
	height:80px;
	padding-bottom:30px;
}
.footer p{
	height:80px;
	padding-top: 20px;
}
.news-box{
	background:#FFFFFF;
	top:30%;
	right:0;
	margin-right:10px;
	width:170px;
	height:200px;
	border:1px solid #31A2D9;
	border-radius:10px 10px 0px 0px;
	z-index:999
}
.news-head{
	border-radius:8px 8px 0px 0px;
	text-align:center;
	background:#31A2D9;
	color:#ffffff;
	height:25px;
	line-height:25px;
}
.news-box ul li{
	margin:6px 6px;
}
.news-cover {
	float:left;
	margin-right:20px;
}
.news-cover img{
	width:50px;
	height:50px;
	border-radius:3px;
}
.news-title{
	width:330px;
	font-size:0.85em;
	color:#666666;
	margin:5px 0 5px 5px;
	display:inline-block;
}

.news-author{
	display:inline-block;
	margin:0 10px 5px 5px;
}
#newsp-box{
	border:2px solid #31A2D9;
	border-radius:10px 10px 0 0;
	height:300px;
	width:300px;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-150px;
	margin-top:-150px;
	background:#ffffff;
	display:none;
}
#newsp-box .newsp-head{
	background:#31A2D9;
	color:#ffffff;
	text-align:center;
	border-radius:8px 8px 0 0;
	height:30px;
	width:100%;
	line-height:30px;
	display:inline-block;
}
.close-ico {
    display: inline-block;
	border:1px solid #ffffff;
	border-radius:3px;
    float: right;
	padding:2px;
	width:15px;
	height:15px;
	line-height:15px;
	margin-right:10px;
	margin-top:3px;
	cursor:pointer;
}
.close-ico:hover{
	background:#ffffff;
	color:#31A2D9;
}
.newsp-content{
	margin:10px;
	font-size:0.9em;
	line-height:25px;
	text-indent:2em;
}