@media screen and (max-width: 400px) {
	.condition-box{width:88%;padding:10px 20px;background:#FFFFFF;border:1px solid #FF8000;position:absolute;display:none;}
	.condition-search-div input{width:80%;}
	.condition-search-div span{width:20%}
	#screen-box{height:80px;background:#FF8000;	margin-bottom:10px;	border-radius:4px;}
	.screen-item{margin:10px 30px auto 30px;border:1px solid #ffffff;color:#345ABF;display: inline-block;}
	.page-div{background:#FF8000;position:fixed;bottom:0;width:100%;left:0;text-align:center;}
}
@media screen and (min-width: 401px) {
	.condition-box{	width:918px;padding:10px 20px;background:#FFFFFF;border:1px solid #FF8000;position:absolute;top:0;left:50%;	margin-left:-480px;	display:none;}
	.condition-search-div input{width:95%;}
	.condition-search-div span{width:5%}
	#screen-box{height:60px;line-height:60px;background:#FF8000;margin-bottom:10px;	border-radius:4px;}
	.screen-item{margin:19px 30px;border:1px solid #ffffff;color:#345ABF;display: inline-block;}
	.page-div{background:#FF8000;position:fixed;bottom:0;width:960px;text-align:center;}
}
@charset "utf-8";

.wrap{
	padding-top:10px;
}

.screen-item input{
	width:60px;
	text-align:center;
	border:none;
	color:#345ABF;
	float:left;
	cursor:default;
	height:19px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.search-ico{
	width:20px;
	height:19px;
	display:inline-block;
	background:#ffffff url("../images/search.ele.png") 3px 7px;
	float:right;
	cursor:pointer;
}

.show-condition{
	position:relative;
	z-index:2;
}
.condition-item{
	display:inline-block;
	margin:8px 5px;
	font-size:0.9em;
	cursor:pointer;
	height:25px;
	line-height:25px;
}
.condition-item img{
	display:inline-block;
	height:25px!important;
	width:auto!important;
	margin-left:3px!important;
}
.condition-item:hover{
	color:#FF8000;
}
.condition-search-div{
	margin:20px;
	margin-bottom:60px;
}
.condition-search-price{
	margin:20px;
}
.condition-search-div input{
	height:25px;
	border:1px solid #FF8000;
	border-radius:3px 0 0 3px;
	float:left;
	padding:3px;
}
.condition-search-div span{
	text-align:center;
	background:#FF8000;
	border-radius:0 3px 3px 0;
	color:#ffffff;
	display:inline-block;
	height:25px;
	line-height:25px;
	float:right;
	cursor:default;
}
.item-active{
	color:#FF8000;
}

/*查询了 分类*/
.class-title{
	background:#FF8000;
	color:#ffffff;
	float:left;
	padding:3px 10px;
	font-size:0.9em;
	cursor:pointer;
}
.class-name{
	width:88%;
	float:right;
	margin-right:20px;
	
}
.class-name span {
	margin:3px 5px;
	display:inline-block;
	cursor:pointer;
}
.class-name span:hover{
	color:#FF8000;
}
.activ{
	color:#FF8000;
}
.class-div{
	clear:left;
	margin-bottom:10px;
	height:auto;
	font-size:0.9em;
	display:inline-block;
	width: 100%;
}