@media screen and (max-width: 440px) {
	.condition-box{width:88%;padding:10px 20px;background:#FFFFFF;border:1px solid #31A2D9;position:absolute;display:none;z-index:2;}
	.condition-search-div input{width:80%;}
	.condition-search-div span{width:20%}
	#screen-box{height:80px;background:#31A2D9;	margin-bottom:10px;	border-radius:4px;}
	.screen-item{margin:10px 30px auto 30px;border:1px solid #ffffff;color:#31A2D9;display: inline-block;}
	.page-div{height:25px;line-height:25px;background:#31A2D9;position:fixed;bottom:0;width:100%;left:0;text-align:center;color:#ffffff;font-size: 0.8em;}
	.page-div span,.page-div a{color: #FFFFFF;}
	.page-div a{cursor:pointer;padding:0 5px;}
	.page-div a:hover{border:1px solid #31A2D9;color:#31A2D9!important;background:#ffffff;}
	.pactiv{border:1px solid #31A2D9;color:#31A2D9!important;background:#ffffff;}
}
@media screen and (min-width: 441px) {
	.condition-box{	width:918px;padding:10px 20px;background:#FFFFFF;border:1px solid #31A2D9;position:absolute;top:0;left:50%;	margin-left:-480px;	display:none;z-index:2;}
	.condition-search-div input{width:95%;}
	.condition-search-div span{width:5%}
	#screen-box{height:60px;line-height:60px;background:#31A2D9;margin-bottom:10px;	border-radius:4px;}
	.screen-item{margin:19px 30px;border:1px solid #ffffff;color:#31A2D9;display: inline-block;}
	.page-div{color: #31A2D9;width: 960px;text-align: center;height: 30px;clear: left;font-weight: bold;font-size: 1.2em;padding-top: 30px;}
	.page-div span,.page-div a{color: #31A2D9;}
	.page-div a{cursor:pointer;padding:0 5px;display:inline-block;}
	.page-div a:hover{border:1px solid #31A2D9;color:#ffffff!important;background:#31A2D9;}
	.pactiv{border:1px solid #31A2D9;color:#ffffff!important;background:#31A2D9;}
}
@charset "utf-8";

.wrap{
	padding-top:10px;
}

.screen-item input{
	width:60px;
	text-align:center;
	border:none;
	color:#31A2D9;
	float:left;
	cursor:default;
	height:19px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.search-ico{
	width:20px;
	height:19px;
	display:inline-block;
	background:#ffffff url("../images/search.ele.png") 3px 7px;
	float:right;
	cursor:pointer;
}

.show-condition{
	position:relative;
	z-index:2;
}
.platform-title {
    background: #31A2D9;
    color: #ffffff;
    float: left;
    padding: 3px 10px;
    font-size: 0.9em;
    cursor: pointer;
    margin: 8px;
}
.condition-item{
	display:inline-block;
	margin:8px 5px;
	font-size:0.9em;
	cursor:pointer;
	height:25px;
	line-height:25px;
}
.condition-item img{
	display:inline-block;
	height:25px!important;
	width:auto!important;
	margin-right:3px!important;
}
.condition-item:hover{
	color:#31A2D9;
}
.condition-search-div{
	margin:20px;
	margin-bottom:60px;
}
.condition-search-price{
	margin:20px;
}
.condition-search-div input{
	height:25px;
	border:1px solid #31A2D9;
	border-radius:3px 0 0 3px;
	float:left;
	padding:3px;
}
.condition-search-div span{
	text-align:center;
	background:#31A2D9;
	border-radius:0 3px 3px 0;
	color:#ffffff;
	display:inline-block;
	height:25px;
	line-height:25px;
	float:right;
	cursor:default;
}
.item-active{
	color:#31A2D9;
}

/*查询了 分类*/
.class-title{
	background:#31A2D9;
	color:#ffffff;
	float:left;
	padding:3px 10px;
	font-size:0.9em;
	/*cursor:pointer;*/
}
.class-name{
	width:88%;
	float:right;
	margin-right:20px;
}
.platform-name{
	max-width:80%;
	float:left;
}
.class-name span {
	margin:3px 5px;
	display:inline-block;
	cursor:pointer;
}
.class-name span:hover{
	color:#31A2D9;
}
.activ{
	color:#31A2D9;
}
.class-div{
	clear:left;
	margin-bottom:10px;
	height:auto;
	font-size:0.9em;
	display:inline-block;
	width: 100%;
}
/*查询播放时间*/
.broadcast-quick{
	display:inline-block;
	margin:5px;
	background:#999999;
	color:#ffffff;
	padding:3px 10px;
	font-size:0.9em;
	cursor:pointer;
}
.broadcast-quick:hover{
	background:#31A2D9;
}
.broadcast-quick-active{
	background:#31A2D9;
}