*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	color:#FFFFFF;
}
li{
	list-style:none;
	font-size:1.0em;
}
.content ul{
	width:600px;
	margin:0 auto;
	margin-top:50px;
	font-size:0.9em;
}
.content ul li{
	height:80px;
	line-height:80px;
	border-bottom:1px solid #CCC;
}
.content ul li:last-child{
	border:none;
	height:100px;
	line-height:100px;
}
.content ul li span input{
	height:30px;
	width:400px;
	padding-left: 5px;
	font-size:0.8em;
}
.op-tit{
	display:inline-block;
	width:120px;
	margin-right:30px;
	text-align:right;
}
.foot-html{
	height:80px;
	width:400px;
	resize:none;
	margin-top:10px;
	font-size:0.8em;
	padding-left: 5px;
}
.button-green{
	background:#00CC00;
	color:#FFFFFF;
	padding:5px 15px;
	cursor:pointer;
	border-radius:5px;
}
.button-green:hover{
	color:#0F1922;
}
.button-div{
	text-align:center;
	margin:10px;
}