*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	color:#FFFFFF;
}
#user-search,.user-con{
	margin:20px;
}

.check-span{
	width:50px;
	text-align:center;
	border-right:1px solid #B2B5B7;
}
.check-span input{
	height: 30px;
}
.username-span{
	width:200px;
	text-align:center;
	border-right:1px solid #B2B5B7;
	cursor:pointer;
}
.group-span{
	width:200px;
	text-align:center;
	border-right:1px solid #B2B5B7;
}

.psw-span,.psw-span-head{
	width:100%;
	text-align:center;
}
.psw-span{
	display:inline-table;
	cursor:pointer;
	background:url("../images/psw.png") no-repeat 16px center;
	background-size:25px 25px;
	height:30px;
	line-height:30px;
}
#user-new-box{
	width:250px;
	padding:10px 20px;
	position:absolute;
	top:20%;
	left:50%;
	margin-left:-125px;
	background:#ffffff;
	text-align:center;
	display:none;
}

#user-group-box{
	background:#ffffff;
	border:1px solid #999999;
	position:absolute;
	text-align: center;
}

.group-item:hover{
	background:#5FAFE4;
	color:#ffffff;
	cursor:default;
}
#psw-box {
    width: 250px;
    height: 130px;
    background: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 0 6px 2px #999999;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -125px;
    font-size: 0.9em;
	display:none;
}
#psw-box ul {
    margin:20px 10px;
}
#psw-box ul li {
	text-align:center;
	margin-top:10px;
}
#psw-box ul li .psw-title {
    text-align: right;
    margin-right: 10px;
	display:inline-block;
	width:90px;
}
#psw-box ul li input {
    width: 100px;
}
.page-div{
	clear:right;
	text-align:center;
	height:30px;
}
.remark-title{
	display: inline-block;
	height: 20px;
	float:left;
	margin-left:10px;
	width:70%;
}
.save-remark{
	display: inline-block;
	margin-right:10px;
	cursor:pointer;
	width: 19px;
	height: 20px;
	float:right;
	background: url("../images/proj_index.png") -57px 0 no-repeat;
}